#Background{
	position:absolute;
	left:0px;
	top:0px;
	width:1500px;
	height:603px;
}

#cop04BackgroundLeft{
	position:absolute;
	left:453px;
	top:332px;
	width:117px;
	height:226px;
}

#cop03BackgroundRight{
	position:absolute;
	left:879px;
	top:271px;
	width:132px;
	height:285px;
}

#ForeRightUp{
	position:absolute;
	left:1280px;
	top:1px;
	width:221px;
	height:314px;
}

#ForeLeftUp{
	position:absolute;
	left:1px;
	top:1px;
	width:124px;
	height:174px;
}

#ForeRighLow{
	position:absolute;
	left:1333px;
	top:297px;
	width:168px;
	height:252px;
}

#cop02ForegroundRight{
	position:absolute;
	left:985px;
	top:186px;
	width:226px;
	height:402px;
}

#cop01ForegroundLeft{
	position:absolute;
	left:163px;
	top:220px;
	width:196px;
	height:364px;
}

#Joel{
	position:absolute;
	left:713px;
	top:133px;
	width:383px;
	height:450px;
}

#Noa{
	position:absolute;
	left:484px;
	top:102px;
	width:341px;
	height:502px;
}

#Joel02{
	position:absolute;
	left:713px;
	top:132px;
	width:381px;
	height:450px;
}

#Noa02{
	position:absolute;
	left:484px;
	top:101px;
	width:341px;
	height:502px;
}


#Layer-2{
	position:absolute;
	left:0px;
	top:0px;
	width:1501px;
	height:604px;
}

