#Background{
	position:absolute;
	left:0px;
	top:0px;
	width:1500px;
	height:603px;
}


#Layer-4{
	position:absolute;
	left:0px;
	top:-723px;
	width:1500px;
	height:603px;
}

#cop04BackgroundLeft{
	position:absolute;
	left:0px;
	top:0px;
	width:118px;
	height:226px;
}


#Layer-5{
	position:absolute;
	left:451px;
	top:-392px;
	width:118px;
	height:226px;
}

#cop03BackgroundRight{
	position:absolute;
	left:0px;
	top:0px;
	width:133px;
	height:286px;
}


#Layer-6{
	position:absolute;
	left:878px;
	top:-454px;
	width:133px;
	height:286px;
}

#ForeRightUp{
	position:absolute;
	left:0px;
	top:0px;
	width:222px;
	height:314px;
}


#Layer-7{
	position:absolute;
	left:1278px;
	top:-723px;
	width:222px;
	height:314px;
}

#ForeLeftUp{
	position:absolute;
	left:0px;
	top:0px;
	width:125px;
	height:175px;
}


#Layer-8{
	position:absolute;
	left:0px;
	top:-723px;
	width:125px;
	height:175px;
}

#ForeRighLow{
	position:absolute;
	left:0px;
	top:0px;
	width:169px;
	height:253px;
}


#Layer-9{
	position:absolute;
	left:1331px;
	top:-427px;
	width:169px;
	height:253px;
}

#cop02ForegroundRight{
	position:absolute;
	left:0px;
	top:0px;
	width:229px;
	height:402px;
}


#Layer-10{
	position:absolute;
	left:984px;
	top:-538px;
	width:229px;
	height:402px;
}

#cop01ForegroundLeft{
	position:absolute;
	left:0px;
	top:0px;
	width:196px;
	height:364px;
}


#Layer-11{
	position:absolute;
	left:162px;
	top:-504px;
	width:196px;
	height:364px;
}

#Joel{
	position:absolute;
	left:0px;
	top:0px;
	width:614px;
	height:502px;
}


#Layer-12{
	position:absolute;
	left:481px;
	top:-622px;
	width:614px;
	height:502px;
}

#Noa{
	position:absolute;
	left:0px;
	top:0px;
	width:343px;
	height:502px;
}


#Layer-13{
	position:absolute;
	left:481px;
	top:-622px;
	width:343px;
	height:502px;
}

